* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'PT Mono', monospace;
    user-select: none;
}

#main {
    padding: 20px;
    padding-top: 10em;
}

#container {
    margin: 0 auto;
    border: 1px solid black;
    width: 20em;
    height: auto;
    border-radius: 5px;
}

#nav-bar {
    height: 32px;
}

.cross-img {
    display: block;
    float: right;
}

.cross-img:hover {
    background-image: url(../img/checkbox_cross-red.png);
}

#divisor {
    width: 100%;
    background-color: black;
    height: 1px;
    
}

#text-container {
    padding: 15px;
    line-height: 1.5em;
}

.text {
    padding-top: 1em;
}

span {
    font-style: italic;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}

.folder {
    width: 5em;
    line-height: 1.5em;
    max-width: 5em;
}

.folder:hover {
    background-image: url(../img/folder-full-yellow.png);
}

figcaption:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 768px) {
    #container {
        width: 30em;
    }
}

@keyframes desplace{
    0%{ opacity:0 ; transform: translateX(200px)}
    50% { opacity:0.8 ;transform:translateX(-200px) translateY(25px) rotate(3deg) }
    80% { opacity:0.9 ;transform:translateX(150px) translateY(25px) rotate(-3deg) }
    100% { opacity:1 ;transform:translateX(0px) translateY(25px) rotate(0deg) }
  }
  #main {
    animation: desplace 1.5s ease-in-out 0.2s forwards;
  }